<nav>
    <ul>
        <li><a href="/index">Menu</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/">Community</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Support</a></li>
        <li><a href="">Contact Us</a></li>
        <li id="profile" class="exclude"><div class="profile">{{ fname|slice:"0:1" }}</div></li>
        <li class="sesh_name"><a href="">{{ fname }}</a></li>
        <li id="logout" class="exclude"><a href="logout">LogOut</a></li>
    </ul>
</nav>